{% extends "users/base.html" %}

{% load static %}

{% load i18n %}

{% block title %}Company Name | Change Password{% endblock title %}

{% block extraCSS %}

{% endblock extraCSS %}

{% block content %}

    {% if user.is_authenticated %}

        <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="flexbox is-flex is-align-items-center is-flex-wrap-wrap">
                <a class="is-inline-block is-underlined mr-4 is-link" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                <button class="button" type="submit" name="action">{% trans "Change Password" %}</button>
            </div>
        </form>

    {% else %}

        {% include 'users/error_404.html' %}

    {% endif %}


{% endblock content %}

{% block extraJS %}
    <script src="{% static 'users/js/main.js' %}"></script>
    <script>
        let sidebar = document.querySelector(".sidebar");
        let closeBtn = document.querySelector("#btn");
        let searchBtn = document.querySelector(".bx-search");

        closeBtn.addEventListener("click", ()=>{
            sidebar.classList.toggle("open");
            menuBtnChange();
        });

        searchBtn.addEventListener("click", ()=>{ 
            sidebar.classList.toggle("open");
            menuBtnChange(); 
        });

        function menuBtnChange() {
            if(sidebar.classList.contains("open")){
                closeBtn.classList.replace("bx-menu", "bx-menu-alt-right");
            }else {
                closeBtn.classList.replace("bx-menu-alt-right","bx-menu");
            }
        }
    </script>
    <script>
        // TODO: Complete profile pic padding-top-bottom using this below "if condition"
        var pic_name = "{{ user.profile.profile_pic_name }}";
        pic_name = pic_name.split('/').pop().split('#')[0].split('?')[0];
        var navPhoto = document.getElementsByClassName("navPhoto")[0];
        var profilePic = document.getElementsByClassName('MyCard-image')[0];

        if (!((pic_name == 'male3.svg') || (pic_name=='female1.svg') || (pic_name=='DefaultUserProfilePic.png'))) {
            navPhoto.style.paddingTop = "2px";
            profilePic.style.paddingTop = "15px";
        }
        else{
            navPhoto.style.paddingTop = "0";
        }
    </script>
{% endblock extraJS %}
