{% extends "base.html" %}

{% load static %}

{% load i18n %}


{% load account %}

{% block title %}Company Name | Password Reset{% endblock title %}

{% block extraCSS %}

{% endblock extraCSS %}

{% block content %}


        <h1 class="title ml-1 mt-3">{% trans "Password Reset:" %}</h1>

        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
            {% csrf_token %}
            <p class="content">{% trans "Forgotten your password? Enter your e-mail address connected with the account below, and we'll send you an e-mail allowing you to reset it." %}</p>
            {{ form.as_p }}
            <input class="button" type="submit" value="{% trans 'Reset My Password' %}" />
            <p class="content">{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
        </form>

{% endblock content %}

{% block extraJS %}
    
{% endblock extraJS %}
