{% extends 'base.html' %}
{% block title %}
Chooose Problem Statement
{% endblock title %}

{% block ui %}
Thanks
{% endblock ui %}

{% block content %}

<section data-bs-scroll="true" class="py-5">
    <div class="container py-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-6 col-xl-4">
                <div>
                    {% if messages %}
                {%else%}
                <p class="fw-bold mb-2" style="color:rgba(30,41,67,255);text-align: justify;">Problem Statement : {{ps}}</p>
                <h2 class="fw-normal" style="text-align: left;">{{ state.problem }}</h2>
                <p class="fw-normal mb-2" style="color:rgba(30,41,67,255);text-align: justify;">Domain : {{dom}} <span class="fw" style="color:rgba(133,206,189,255);">{{ state.domain }}</span></p>
                <p class="fw-normal mb-2" style="color:rgba(30,41,67,255);text-align: justify;">Difficulty level : {{hard}} <span class="fw" style="color:rgba(133,206,189,255);">{{ state.hardness }}</span></p>
                <p class="fw-normal mb-2" style="color:rgba(30,41,67,255);text-align: justify;">{{ des }}</p>

                {% endif %}
                </div>
            </div>
            <div class="col-md-6 col-xl-4">
                
            </div>
        </div>

        <div style="margin-top:30px" class="row d-flex justify-content-center">
            <div class="col-md-6 col-xl-4">
                <div>
                    <form method="post">
                        {% csrf_token %}
                        <div class="mb-3"><input class="form-control text-center" type="text" name="team_name" placeholder="Team Name" required /></div>
                        <div class="mb-3"><input class="form-control text-center" type="text" name="team_leader_name" placeholder="Team Leader Name" required /></div>
                        <div class="mb-3"><input class="form-control text-center" type="email" name="team_leader_email" placeholder="Team Leader Email" required /></div>
                        <div class="mb-3"><input class="form-control text-center" type="tel" name="team_leader_contact" placeholder="Team Leader Phone" required /></div>
                        <div class="mb-3"><input class="form-control text-center" type="text" name="team_leader_regno" placeholder="Register Number" required /></div>
                        <div class="mb-3"><button style="color:#85cebd; border-color:#85cebd ;" class="btn shadow d-block w-100" type="submit">Register</button></div>
                    </form>

                    {% include 'includes/messages.html' %}
                    
                </div>
            </div>
            <div class="col-md-4 col-xl-4 d-flex justify-content-center justify-content-xl-start">
                <div class="d-flex flex-wrap flex-md-column justify-content-md-start align-items-md-start h-100" style="margin-left: 8px;">
                    <div class="d-flex align-items-center p-3" style="margin-top: 31px;margin-right: 91px;">
                        <div class="px-2">
                            <h6 class="fw-bold mb-0">For Queries :</h6>
                            <p class="text-muted mb-0"></p>
                        </div>
                    </div>
                    <div class="d-flex align-items-center p-3">
                        <div style="background-color: rgba(133,206,189,255); color: white;" class="bs-icon-md bs-icon-circle shadow d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block bs-icon bs-icon-md"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-envelope">
                                <path fill-rule="evenodd" d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"></path>
                            </svg></div>
                        <div class="px-2">
                            <h6 class="fw-bold mb-0">Email</h6>
                            <a href="mailto:student.research@kct.ac.in">
                                <p class="text-muted mb-0">student.research@kct.ac.in</p>
                            </a>
                        </div>
                    </div>
                    <div class="d-flex align-items-center p-3">
                        <div style="background-color: rgba(133,206,189,255); color: white;" class="bs-icon-md bs-icon-circle bs-icon-primary shadow d-flex flex-shrink-0 justify-content-center align-items-center d-inline-block bs-icon bs-icon-md"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-telephone">
                                <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"></path>
                            </svg></div>
                        <div class="px-2">
                            <h6 class="fw-bold mb-0">Contact</h6>
                            <a href="tel:+91">
                                <p class="text-muted mb-0">{{ cp }} : +91 {{ contact }}</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}

{% block extra_css %}
<style>
    button {
position: relative;
display: inline-block;
cursor: pointer;
outline: none;
border: 0;
vertical-align: middle;
text-decoration: none;
background: transparent;
padding: 0;
font-size: inherit;
font-family: inherit;
}

button.learn-more {
width: 12rem;
height: auto;
}

button.learn-more .circle {
transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
position: relative;
display: block;
margin: 0;
width: 3rem;
height: 3rem;
background:rgba(133,206,189,255);
border-radius: 1.625rem;
}

button.learn-more .circle .icon {
transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
position: absolute;
top: 0;
bottom: 0;
margin: auto;
background: #fff;
}

button.learn-more .circle .icon.arrow {
transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
left: 0.625rem;
width: 1.125rem;
height: 0.125rem;
background: none;
}

button.learn-more .circle .icon.arrow::before {
position: absolute;
content: "";
top: -0.29rem;
right: 0.0625rem;
width: 0.625rem;
height: 0.625rem;
border-top: 0.125rem solid #fff;
border-right: 0.125rem solid #fff;
transform: rotate(45deg);
}

button.learn-more .button-text {
transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
padding: 0.75rem 0;
margin: 0 0 0 1.85rem;
color: #ffffff;
font-weight: 700;
line-height: 1.6;
text-align: center;
text-transform: uppercase;
}

button:hover .circle {
width: 100%;
}

button:hover .circle .icon.arrow {
background: #fff;
transform: translate(1rem, 0);
}

button:hover .button-text {
color: rgb(255, 255, 255) !important;
}


</style>

{% endblock extra_css %}

{% block extra_js %}

{% endblock extra_js %}





