{% extends 'base.html' %}

{% load static %}

{% block title %}

Problem Statements

{% endblock title %}

{% block content %}

{% load bootstrap_tags %}

<section class="py-5">
    <div class="container py-5">
        <div class="row d-flex justify-content-center justify-content-lg-left">
            <div class="col-md-6 col-xl-6">
                <div class="card">
                    <div class="card-body text-center text-lg-left d-flex flex-column align-items-center align-items-lg-left">

                            <form method="get">
                                <div class="col col-12 align-items-start justify-content-left">
                                    {{ myFilter.form | as_bootstrap}}
                                    <button class="btn " style="text-decoration:  underline;" type="submit">Filter</button>
                                    <a href="{% url 'reset' %}">
                                        <button class="btn" style="text-decoration:  underline;" type="button">Reset Filter</button>
                                    </a>
                                </div>
                                
                            </form>

                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-6 align-items-start d-flex">
                <div class="card" >
                    <div class=" card-body text-justify flex-column d-flex ">
                        <div>
                            <b>Nothing suits you ? </b>
                            <br>
                        </div>
                        <div>
                            <p>Well Here we go ! Submit your own problem statement
                                let us hear you
                            </p>
                            <br>
                        </div>
                        <div>
                            <a class="link" href="{% url 'sum' %}" >
                                <b style="text-decoration: underline;" >Apply here!</b>
                            </a>
                        </div>
                    </div>

                </div>
                
                
            </div>

        </div>
                

                {% for i in a %}
                <div style="margin-top:10px" class="list-group"><a class="list-group-item list-group-item-action flex-column align-items-start" href="{% url 'state_detail' pk=i.id %}">
                        <div class="d-flex w-100 justify-content-between">
                            <b class="mb-1">{{i.problem}}</b>
                            <span style="background: rgb(133,206,189);border-color: var(--bs-navbar-toggler-border-color);" class="badge domi rounded-pill align-self-center">{{i.domain}}</span>
                        </div>
                        <p class="mb-1">{{i.description}}</p>
                        <small class="text-muted">{{i.contact}}</small>
                        <br>
                        <small class="text-muted">{{i.contact_person}}</small>
                    </a>
                </div>
                {% endfor %}

            </div>
        </div>
        
    </div>
</section>

{% endblock content %}

{% block extra_css %}

<style>
    @media screen and (max-width: 992px) {
        .domi{
            font-size: x-small !important;
        }
        
        
    }
</style>

{% endblock extra_css %}



